/*header的样式*/
.header {
	background: #FFFFFF url(../img/bg.jpg) repeat-x top;
}

.mainWrap {
	width: 1000px;
	margin: auto;
	min-width: 320px;
	display: block;
}

.header .topLine {
	border-top: 7px solid #5c307d;
}

.header .topWrap {
	height: 102px;
}

.logo {
	float: left;
	margin-top: 20px;
}

img {
	border: 0px;
	vertical-align: bottom;
	/*设置元素垂直对齐方式*/
}

.header .search {
	float: right;
	display: block;
}

.header .search .ext {
	padding: 16px 0 10px 0;
	text-align: right;
}

a,
a:link {
	text-decoration: none;
}

.header .search .ext a {
	color: #4d1379;
	text-align: right;
}

form {
	margin: 0;
	display: block;
}

input {
	background: #FFFFFF;
	font-size: 12px;
	outline: none;
	-webkit-user-select: text;
	cursor: auto;
}

.header .search .inp {
	width: 140px;
	height: 30px;
	border: 1px solid #b1b1b1;
	float: left;
	padding: 0;
	border-right: 0;
}

.header .search .searchbtn {
	background: #5c307d;
	height: 30px;
	padding: 0 7px;
	line-height: 29px;
	text-align: center;
	border: 0;
	float: left;
	font-size: 16px;
	color: #FFFFFF;
	cursor: pointer;
	top: 0;
}

.container-fluid {
	margin: 0;
	padding: 0;
}


/*102--150*/

.navbar-collapse {
	margin: 0;
	padding: 0;
}

.header .navbar {
	border-top: 1px solid #dedede;
	margin-bottom: 0px;
}

.navbar-brand {
	display: none;
}

.header .navbar .navbartitle {
	float: left;
	padding: 5px 2px 0px 0px;
	position: relative;
	zoom: 1;
}
.header .navbar .navbartitle:hover{
	background: #5C307D;
	color: #FFFFFF;
}
.header .navbar .dropdown-menu {
	background: #5C307D;
	padding: 0;
	margin: 0;
	color: #FFFFFF;
	z-index: 1999;
	border: 0px;
}

.header .navbar .dropdown-menu li a {
	line-height: 38px;
	font-size: 14px;
	color: #FFFFFF;
	padding-left: 20px;
}

.dropdown-menu>li>a:hover {
	color: #FFFFFF;
	background: #4F608C;
}

.header .navbar .navbartitle {
	display: block;
	line-height: 42px;
	font-size: 15px;
	color: #333333;
	padding: 0 14px;
}

/*header的媒体响应-------------------------------------------------------------------------------------*/

@media screen and (max-width: 760px) {
	body {
		line-height: 18px;
	}
	.header .navbar-header{
		background: #f6f6f6;;
	}
	.mainWrap {
		position: relative;
		width: 100%;
	}
	.header .search {
		/*float: none;*/
		position: absolute;
		width: 100%;
		top: 0;
		background: #5C307D;
	}
	.header .search form .inp {
		border: 0;
		float: left;
		margin-left: 20px;
		height: 24px;
		width: 130px;
		/*margin-top: 5px;*/
		padding: 5px;
	}
	.header .search .searchbtn {
		background: black;
		/*float: left;*/
		height: 24px;
		line-height: 24px;
		font-size: 14px;
		/*margin-top: 5px;*/
	}
	.header .search .ext {
		float: right;
		padding: 4px 30px 10px 0;
	}
	.header .search .ext a {
		color: #FFFFFF;
	}
	.header .topWrap {
		height: 130px;
		position: relative;
	}
	.header .logo {
		float: none;
		margin: auto;
		display: block;
		position: absolute;
		top: 50px;
		left: 50%;
		margin-left: -100px;
	}
	/*导航的媒体响应*/
	.navbar-brand {
		display: block;
		padding: 15px 35px;
	}
	.navbar-nav {
		margin: 7.5px 0px;
	}
	.header .navbar .navbartitle {
		display: block;
		clear: both;
		font-size: 15px;
		margin-left: 20px;
	}
	.navbar-nav .dropdown-menu {
		display: none;
	}
	.navbar-nav .navbartitle .caret {
		display: none;
	}
}

/*尾部从主页尾部第二部分开始，样式----------------------------------------------------------------*/
.footer{
	clear: both;
	font-size: 10px;
}
.footer .footWrap {
	/*height: 256px;*/
	background: #e0e0e0;
	padding: 20px 0;
}

.footerMainWrap {
	/*height: 176px;*/
	width: 1000px;
	margin: auto;
	min-width: 320px;
}

.footer .footerMainWrap li {
	width: 125px;
	float: left;
	list-style-type: none;
}

.footer .footerMainWrap h4 {
	padding-bottom: 8px;
}

.footer .footerMainWrap h4 a {
	font-size: 15px;
	color: #22132d;
}

.footer .footerMainWrap a {
	color: #585858;
	display: block;
	line-height: 24px;
	text-align: center;
}

.footerNav {
	margin-left: -40px;
}


/*尾部第三部分的样式------------------------------------------------*/

.footer .copyrights {
	background: #22132d;
	color: #a5a2a7;
	padding: 20px 0;
	line-height: 22px;
	/*height: 85px;*/
}

.copyrightsMainWrap {
	width: 1000px;
	margin: auto;
	min-width: 320px;
}

.footer .copyrights .info {
	float: left;
}

.footer .copyrights .info span {
	padding-right: 24px;
}

.footer .copyrights .icp {
	float: right;
}

.footer .copyrights .copy {
	color: #6f6a74;
	display: block;
}


/*尾部第二部分的响应式样式-----------------------------------------------------------*/

@media only screen and (min-width: 100px) and (max-width: 640px) {
	.footer .footWrap li {
         width: 25%;
         height: auto;
    }
	.footer .footWrap a {
		display: none;
	}
		.footer .footWrap h4 a {
			display: block;
			font-size: 12px;
			line-height: 30px;
		}
		.footerMainWrap{
			width: auto;
		}
		.footer .footerMainWrap li{
			
		}
}
/*尾部第三部分响应式样式---------------------------------*/
@media screen and (max-width: 640px){
	.footer .copyrights {
    text-align: center;
    }
    .mainWrap {
    width: 100%;
    }
    .footer .copyrights .info {
    float: none;
    display: block;
    padding: 0 30px;
    }
    .footer .copyrights .info span {
    display: block;
    padding: 0;
}
.footer .copyrights .icp {
    float: none;
    display: block;
}
.copyrightsMainWrap{
	width: auto;
}
}